@use "./partials/typography" as *;
@use "./partials/colors" as *;
@use "./partials/responsive" as *;
@use "./partials/variables" as *;
//Defaults
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
