@use "../../../../assets/styles/partials/colors" as *;
@use "../../../../assets/styles/partials/responsive" as *;
@use "../../../../assets/styles/partials/variables" as *;
@use "../../../../assets/styles/partials/mixins" as *;

$max-width: 1000px;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  &__close {
    cursor: pointer;
    border-radius: $radius-sm;
    align-self: flex-end;
    justify-self: end;
    margin: $margin-lg;
    @include md {
      position: absolute;
      margin: 0;
      top: $margin-lg;
      right: $margin-lg;
    }
  }
  &__content {
    max-width: $max-width;
    margin: $margin-lg auto;
    background-color: white;
    padding: $padding-lg;
    border-radius: $radius-sm;
  }
}

.theme {
  &--red {
    .overlay {
      background-color: rgba($chestnut-950, 0.8);
      &__close {
        color: white;
        background-color: $chestnut-950;
      }
    }
  }
  &--blue {
    .overlay {
      background-color: rgba($picton-blue-950, 0.8);
      &__close {
        color: white;
        background-color: $picton-blue-950;
      }
    }
  }
  &--green {
    .overlay {
      background-color: rgba($yellow-green-950, 0.8);
      &__close {
        color: white;
        background-color: $yellow-green-950;
      }
    }
  }
}
