@use "../../assets/styles/partials/colors" as *;
@use "../../assets/styles/partials/responsive" as *;
@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/mixins" as *;

.faq-page {
  &__content {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  &__layout-section {
    margin: $margin-lg;
    border-radius: $radius-sm;
    &--left {
      @extend .faq-page__layout-section;
      grid-column-start: 2;
      grid-column-end: 4;
    }
    &--right {
      @extend .faq-page__layout-section;
      grid-column-start: 4;
      grid-column-end: 12;
      overflow-y: scroll;
      padding: $padding-lg;
    }
  }
  .faq-section {
    margin: calc($margin-lg * 3) 0;
    &__title {
      padding: 0 $padding-sm;
      margin: $margin-sm 0;
      border-left: $border-md solid;
    }
  }
}

.theme {
  &--red {
    .faq-page {
      background-color: $chestnut-100;
      &__layout-section {
        &--right {
          background-color: white;
        }
        &--left {
          background-color: transparent;
        }
      }
      .faq-section {
        &__title {
          color: $chestnut-900;
          border-color: $chestnut-300;
        }
      }
    }
  }
  &--blue {
    .faq-page {
      background-color: $picton-blue-100;
      &__layout-section {
        &--right {
          background-color: white;
        }
        &--left {
          background-color: transparent;
        }
      }
      .faq-section {
        &__title {
          color: $picton-blue-900;
          border-color: $picton-blue-300;
        }
      }
    }
  }
  &--green {
    .faq-page {
      background-color: $yellow-green-100;
      &__layout-section {
        &--right {
          background-color: white;
        }
        &--left {
          background-color: transparent;
        }
      }
      .faq-section {
        &__title {
          color: $yellow-green-900;
          border-color: $yellow-green-300;
        }
      }
    }
  }
}
