@use "../../assets/styles/partials/colors" as *;
@use "../../assets/styles/partials/responsive" as *;
@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/mixins" as *;

.faq-page {
  &__title {
    text-align: start;
    padding: $padding-lg;
    margin-bottom: calc($margin-lg * 2);
  }
  &__content {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  &__layout-section {
    margin: $margin-lg;
    border-radius: $radius-sm;
    &--left {
      @extend .faq-page__layout-section;
      grid-column-start: 2;
      grid-column-end: 4;
    }
    &--right {
      @extend .faq-page__layout-section;
      grid-column-start: 4;
      grid-column-end: 12;
      overflow-y: scroll;
      padding: $padding-lg;
    }
  }
}
.theme {
  &--red {
    .faq-page {
      background-color: $chestnut-100;
      &__title {
        color: $chestnut-900;
      }
      &__layout-section {
        &--right {
          background-color: white;
        }
        &--left {
          background-color: transparent;
        }
      }
    }
  }
  &--blue {
    .faq-page {
      background-color: $picton-blue-100;
      &__title {
        color: $picton-blue-900;
      }
      &__layout-section {
        &--right {
          background-color: white;
        }
        &--left {
          background-color: transparent;
        }
      }
    }
  }
  &--green {
    .faq-page {
      background-color: $yellow-green-100;
      &__title {
        color: $yellow-green-900;
      }
      &__layout-section {
        &--right {
          background-color: white;
        }
        &--left {
          background-color: transparent;
        }
      }
    }
  }
}
