@use "../../../../assets/styles/partials/colors" as *;
@use "../../../../assets/styles/partials/responsive" as *;
@use "../../../../assets/styles/partials/variables" as *;
@use "../../../../assets/styles/partials/mixins" as *;

.budgets-gallery {
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $gap-sm;
    margin: $margin-lg 0;
    justify-content: start;
    @include md {
      flex-direction: row;
      align-items: start;
    }
  }
}
