@use "../../../../assets/styles/partials/colors" as *;
@use "../../../../assets/styles/partials/responsive" as *;
@use "../../../../assets/styles/partials/variables" as *;
@use "../../../../assets/styles/partials/mixins" as *;

$max-width: calc(1000px - 3 * $padding-lg);
.call-to-action {
  display: flex;
  max-width: max-content;
  margin: 0 auto;
  border-radius: $radius-sm;
  border: solid $border-sm;
  padding: $padding-lg;
  gap: $gap-lg;
  @include md {
    width: max-content;
    max-width: $max-width;
  }
  @include lg {
    width: auto;
    margin: 0 auto;
  }
  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: start;
    justify-content: space-between;
  }
  &__image {
    display: none;
    align-self: flex-end;
    @include md {
      display: block;
    }
  }
  &__title {
    max-width: 20ch;
  }
  &__text {
    max-width: 40ch;
    padding: $padding-sm 0;
    @include md {
      max-width: 60ch;
    }
  }
}

.theme {
  &--red {
    .call-to-action {
      border-color: $chestnut-900;
      &__title {
        color: $chestnut-800;
      }
    }
  }

  &--blue {
    .call-to-action {
      border-color: $picton-blue-900;
      &__title {
        color: $picton-blue-800;
      }
    }
  }

  &--green {
    .call-to-action {
      border-color: $yellow-green-900;
      &__title {
        color: $yellow-green-800;
      }
    }
  }
}
