// Paddings

$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 1.25rem;

// Margins
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 1.25rem;

// Radii
$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 1.25rem;
$radius-full: 50%;

// Borders
$border-sm: 1px;
$border-md: 3px;
$border-lg: 4px;

//Gaps
$gap-sm: 0.5rem;
$gap-md: 1rem;
$gap-lg: 1.25rem;

//Fonts
$font-ubuntu: "Ubuntu Mono", monospace;

//Widths
$button-width-md: 7.25rem;
